- simple_form_for @listing, :html => { :multipart => true } do |listing|
  = listing.error_messages
  = listing.input :price
  = listing.input :available_date_from
  = listing.input :available_date_to, :label => "To"
  - listing.simple_fields_for @listing.property do |property|
    =property.input :street_name, :label => "Street Address", :required => false
    =property.input :state, :required => false
    =property.input :suburb, :required => false
    =property.input :postcode
    - property.simple_fields_for Photo.new do |p|
      =p.input :photo, :as => :file
  = listing.button :submit

