- title "Listings"

%table
  - for listing in @listings
    %tr
      %td
        .image= image_tag listing.property.photo.url(:small)
      %td
        .address= h listing.property.address
        .price= "Price: #{h number_to_currency(listing.price)}"
        .from= "From: #{h display_date(listing.available_date_from)}"
        .to= "To : #{h display_date(listing.available_date_to)}"
      %td
      %td= link_to 'Show', listing
      %td= link_to 'Edit', edit_listing_path(listing)

%p= link_to "New Listing", new_listing_path
