- title "Listing"

%p
  = image_tag @listing.property.photo.url(:small)

%p
  %strong Price:
  =h number_to_currency(@listing.price)
%p
  %strong Available Dates
  %p
    From:
    =h display_date(@listing.available_date_from)
  %p
    To:
    =h display_date(@listing.available_date_to)

- if current_user == @listing.user
  %h3 Applications
  %p
    Number of Applications:
    = @listing.enquiries.count
  %table
    %tr
      %th Applicant
      %th Type
      %th Date
      %th Comment
    -@listing.enquiries.each do |e|
      %tr
        %td= h e.user.email
        %td= h e.enquiry_type
        %td= h display_date(e.created_at)
        %td= h truncate(e.comment)

%p
  - if current_user == @listing.user
    = link_to "Edit", edit_listing_path(@listing)
    |
  = link_to "View All", listings_path
  |
  = link_to "Apply", new_enquiries_path(:listing_id => @listing.id)
