- title "Listing"

%p
  %strong Property:
  =h @listing.property_id
%p
  %strong Price:
  =h @listing.price
%p
  %strong Available Date From:
  =h @listing.available_date_from
%p
  %strong Available Date To:
  =h @listing.available_date_to

%p
  %strong Photo:
  = image_tag @listing.property.photo.url(:small)
%p
  %strong Number of Applications:
  = @listing.enquiries.count

%p
  - if current_user == @listing.user
    = link_to "Edit", edit_listing_path(@listing)
    |
  = link_to "View All", listings_path
  |
  = link_to "Apply", new_enquiries_path(:listing_id => @listing.id)
