- title "Listing"

= javascript_include_tag("prototype.js")
= javascript_include_tag("application.js")

%p
  = image_tag @listing.property.photo.url(:small)

%p
  %strong Price:
  =h number_to_currency(@listing.price)
  
%p
  %strong Address:
  =h @listing.property.address
%p
  %strong Available Dates
  %p
    From:
    =h display_date(@listing.available_date_from)
  %p
    To:
    =h display_date(@listing.available_date_to)

- if current_user == @listing.user
  %h3 Applications
  %p
    Number of Applications:
    = @listing.enquiries.count
    
    = render :partial => "enquiries"

%p
  - if current_user == @listing.user
    = link_to "Edit", edit_listing_path(@listing)
    |
  = link_to "View All", listings_path
  |
  = link_to "Apply", new_listing_enquiry_path(@listing)
